<% @page_title = "Subjects" %>
<div class="subjects index">
  <h2>Subjects</h2>
  <%= link_to("Add New Subject", {:action => "new"}, :class => 'action new') %>
  <div >
    <%= pluralize(@subjects.size,'subject') %> found
  </div>
  <table>
    <tr class="listing" summary="Subject list">
      <th>Position</th>
      <th>Subjects</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
    <% @subjects.each do |subject| %>
    <tr class="<%= cycle('odd','even') %>">
      <td class="center"><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= subject.visible ? 'Yes' : 'No' %></td>
      <td class="center"><%= subject.pages.size %></td>
      <td class="actions">
        <%= link_to("Show",{:controller => 'subjects', :action => 'show', :id => subject.id },:class => 'action show')%>
        <%= link_to("Edit",{:action => "edit", :id => subject.id},:class => 'action Edit')%>
        <%= link_to("Delete",{:action => 'delete', :id => subject.id},:class => 'action Delete')%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
