
<%= link_to("<< Back to list",{:action => 'index'}, :class => 'back-link')%>

<div class="subjects show">
  <h2>Show Subjects</h2>
  <table summary="Subject detail view">
    <tr>
      <th>Name</th>
      <td><%= @subject.name %></th>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @subject.position %></th>
    </tr>
    <tr>
      <th>visible</th>
      <td><%= @subject.visible ? "Yes" : "No" %></th>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @subject.created_at %></th>
    </tr>
  </table>
</div>
